
.avatar{
  margin: 1rem auto;
  text-align: center;
}
.name{
  font-size: 3rem;
  margin: 1rem auto;
  text-align: center;

}

.afflation{
  text-align: center;


}

.icons{
  /* margin-right: 1rem; */
  text-align: center;


}

.icons > span{
  margin-right: 1rem;
  font-size: 1.5rem;
}


.nav{
  text-align: center;


}

.nav > Button, a {
  margin-top: 10px;
}