
.avatar{
  margin: 1rem auto;
  text-align: center;
}
.name{
  font-size: 3rem;
  margin: 1rem auto;
  text-align: center;

}

.afflation{
  text-align: center;


}

.icons{
  /* margin-right: 1rem; */
  text-align: center;


}

.icons > span{
  margin-right: 1rem;
  font-size: 1.5rem;
}

.icons > span > a{
  color: black
}

.nav{
  text-align: center;
  /* width: 80%; */
  /* border: solid black 1px; */

}

.nav > Button, a {
  /* margin: 0px; */
}