html {
  font-family: "Times New Roman", Times, serif;
  font-size: ($vm_fontsize / ($vm_design / 2)) * 100vw;
    /* // 同时，通过Media Queries 限制根元素最大值，最小值 */
    @media screen and (max-width: 320px) {
        font-size: 64px;
    }
    @media screen and (min-width:540px) {
        font-size: 108px;
    }
}

