.lineVBox{
    background-color: grey;
    width: 1px;
    opacity: 0.7;
    /* border-style: inset; */
    /* border: grey 1px; */
    min-height: 100%;
}
  
.lineHBox{
    background-color: grey;
    height: 1px;
    opacity: 0.7;
    min-width: 100%;
}
  

.borderleft{
    margin: 5px;
    border-left: 1px solid lightgray;
    /* border: gray 10px; */
    /* opacity: 0.7; */

}
